#cloud-config
users:
  - name: bluedata
    groups: [sudo, wheel]
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys: 
      - ssh-rsa ...

package_upgrade: true
packages:
  - epel-release

repo_update: true
repo_upgrade: all

runcmd:
  - sudo yum install -y python-pip
  - sudo yum install -y python-setuptools
  - pip install --upgrade pip
  - pip install --upgrade setuptools
